* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #111216;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid black;
  margin: 10px auto;
  width: 95%;
  border-radius: 8px;
}

.container .select {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}
.select .btn {
  width: 35%;
}
select {
  width: 60%;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 12px;
  padding: 10px;
}
.container .sample {
  display: flex;
  width: 95%;
  margin: 10px auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #ccc;
  color: #222;
  padding: 10px;
  border-radius: 8px;
}
.sample .all {
  display: flex;
  text-align: center;
  align-items: center;
  flex: 1;
}
.sample .extract {
  display: none;
  text-align: center;
  align-items: center;
  flex: 1;
}
.extract,
.all {
  justify-content: space-between;
}

.date {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ccc;
}

.date input {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.container .sample .all input,
.container .sample .extract input {
  flex: 1;
  margin: 8px;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.container .headTable {
  width: 95%;
  margin: 10px auto;
  display: none;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px;
  background-color: #ccc;
  color: #222;
}
.headTable .sieve {
  min-width: 20%;
  text-align: center;
}
.siev,
.nameLimit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.resrved,
.passing,
.limit {
  width: 20%;
  text-align: center;
}
.limit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .contnetTable {
  width: 95%;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #ccc;
  color: #222;
}

.contnetTable .rowTable {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.rowTable .titleSieve {
  display: flex;
  min-width: 20%;
  justify-content: space-between;
  align-items: center;
}

.rowTable input {
  padding: 8px;
  border-radius: 8px;
}

.rowTable .resrved {
  padding: 8px;
}
.btn {
  width: 95%;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  background-color: #ccc;
  color: #222;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.dialog {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
}
.dialogTable {
  width: 80%;
}
.close-btn {
  margin-top: 10px;
  padding: 5px 10px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.empty {
  margin: 8px;
  padding: 8px;
}

.nav,
.nav2 {
  width: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #aaef58;
  padding: 20px 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.nav .link,
.nav2 .link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .icon,
.nav2 .icon {
  display: none;
  cursor: pointer;
}
.excel {
  cursor: pointer;
}
.nav a,
.nav2 a,
.excel {
  text-decoration: none;
  color: #111216;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .limit {
    display: none;
  }
  .container {
    width: 98%;
    height: 98%;
    top: 0;
    left: 0;
    transform: none;
    margin: 2px;
    border-radius: 8px;
    padding: 10px;
  }
  .sample {
    flex-direction: column;
  }
  .nav {
    background-color: #aaef58;
  }
  .nav .icon {
    display: flex;
  }
  .nav .link {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 70px;
    right: 20px;
    margin: 5px;
    width: 80%;
    height: 400px;
    background-color: #aaef58;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .all,
  .extract {
    width: 100%;
  }

  .all input,
  .extract input {
    flex: 0;
    width: 60%;
  }

  .rowTableDialogHead,
  .rowTableDialog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
  }
}

.nav img,
.nav2 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}

.box {
  width: 100%;
  max-width: 100%;
  max-height: 70vh; 
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 12px;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.rowTableDialogHead,
.rowTableDialog {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.rowTableDialogHead {
  border: 0.5px solid black;
  border-radius: 8px;
}
.makhel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 20%;
  text-align: center;
}
.retreve,
.pass {
  width: 20%;
  text-align: center;
}
.entry {
  width: 20%;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
